/* mode=create preset=rainbow-chaos ugliness=4 seed=8e43b9f572483b5d usability=functional */
:root {
  --ugly-seed: "8e43b9f572483b5d";
  --ugly-level: 4;
  --ugly-color-1: #8f00ff;
  --ugly-color-2: #ff3d00;
  --ugly-color-3: #ff8a00;
  --ugly-color-4: #00e5ff;
  --ugly-color-5: #0057ff;
  --ugly-color-6: #ff00a8;
  --ugly-color-7: #00ff66;
  --ugly-color-8: #ffee00;
  --ugly-font-1: Arial, Helvetica, sans-serif;
  --ugly-font-2: Papyrus, fantasy;
  --ugly-font-3: Impact, Haettenschweiler, sans-serif;
  --ugly-font-4: Georgia, "Times New Roman", serif;
  --ugly-border-width-1: 1px;
  --ugly-border-width-2: 16px;
  --ugly-border-width-3: 2px;
  --ugly-border-width-4: 8px;
  --ugly-border-width-5: 3px;
  --ugly-border-width-6: 11px;
  --ugly-border-style-1: ridge;
  --ugly-border-style-2: groove;
  --ugly-border-style-3: dashed;
  --ugly-border-style-4: inset;
  --ugly-border-style-5: double;
  --ugly-border-style-6: dotted;
  --ugly-radius-1: 0px;
  --ugly-radius-2: 2px;
  --ugly-radius-3: 11px;
  --ugly-radius-4: 31px;
  --ugly-radius-5: 5px;
  --ugly-radius-6: 19px;
  --ugly-space-1: 8px;
  --ugly-space-2: 13px;
  --ugly-space-3: 11px;
  --ugly-space-4: 19px;
  --ugly-space-5: 33px;
  --ugly-space-6: 41px;
  --ugly-space-7: 65px;
  --ugly-rotate-1: 2deg;
  --ugly-rotate-2: 2deg;
  --ugly-rotate-3: 0deg;
  --ugly-rotate-4: 3deg;
  --ugly-rotate-5: -5deg;
  --ugly-rotate-6: -2deg;
  --ugly-offset-1: 5px;
  --ugly-offset-2: 7px;
  --ugly-offset-3: 0px;
  --ugly-offset-4: 13px;
  --ugly-offset-5: 16px;
  --ugly-offset-6: -2px;
  --ugly-shadow-1: inset 3px 3px 0 #fff, inset -4px -4px 0 #333;
  --ugly-shadow-2: -5px 6px 0 #ff00a8;
  --ugly-shadow-3: 0 0 12px #ffee00;
  --ugly-shadow-4: 8px 9px 0 #00e5ff;
  --ugly-shadow-5: 12px 3px 0 #8f00ff;
  --ugly-duration-1: 1666ms;
  --ugly-duration-2: 137ms;
  --ugly-duration-3: 420ms;
  --ugly-duration-4: 2400ms;
  --ugly-duration-5: 1111ms;
  --ugly-duration-6: 777ms;
}
