/* mode=create preset=portal-2005 ugliness=4 seed=e9e19cc3cb075cbd usability=functional */
:root {
  --ugly-seed: "e9e19cc3cb075cbd";
  --ugly-level: 4;
  --ugly-color-1: #3366cc;
  --ugly-color-2: #666666;
  --ugly-color-3: #003399;
  --ugly-color-4: #33cc33;
  --ugly-color-5: #ff9900;
  --ugly-color-6: #ffffcc;
  --ugly-color-7: #99ccff;
  --ugly-color-8: #ff0000;
  --ugly-font-1: Impact, Haettenschweiler, sans-serif;
  --ugly-font-2: Verdana, Geneva, sans-serif;
  --ugly-font-3: Arial, Helvetica, sans-serif;
  --ugly-font-4: "Comic Sans MS", "Comic Sans", cursive;
  --ugly-border-width-1: 3px;
  --ugly-border-width-2: 11px;
  --ugly-border-width-3: 2px;
  --ugly-border-width-4: 1px;
  --ugly-border-width-5: 8px;
  --ugly-border-width-6: 5px;
  --ugly-border-style-1: double;
  --ugly-border-style-2: groove;
  --ugly-border-style-3: dotted;
  --ugly-border-style-4: dashed;
  --ugly-border-style-5: ridge;
  --ugly-border-style-6: outset;
  --ugly-radius-1: 19px;
  --ugly-radius-2: 0px;
  --ugly-radius-3: 999px;
  --ugly-radius-4: 31px;
  --ugly-radius-5: 11px;
  --ugly-radius-6: 2px;
  --ugly-space-1: 11px;
  --ugly-space-2: 12px;
  --ugly-space-3: 20px;
  --ugly-space-4: 18px;
  --ugly-space-5: 29px;
  --ugly-space-6: 45px;
  --ugly-space-7: 71px;
  --ugly-rotate-1: -2deg;
  --ugly-rotate-2: 9deg;
  --ugly-rotate-3: -10deg;
  --ugly-rotate-4: -6deg;
  --ugly-rotate-5: 6deg;
  --ugly-rotate-6: 1deg;
  --ugly-offset-1: 11px;
  --ugly-offset-2: 5px;
  --ugly-offset-3: 13px;
  --ugly-offset-4: 16px;
  --ugly-offset-5: 14px;
  --ugly-offset-6: 6px;
  --ugly-shadow-1: -5px 6px 0 #ff00a8;
  --ugly-shadow-2: 0 0 12px #ffee00;
  --ugly-shadow-3: inset 3px 3px 0 #fff, inset -4px -4px 0 #333;
  --ugly-shadow-4: 4px 4px 0 #000;
  --ugly-shadow-5: 8px 9px 0 #00e5ff;
  --ugly-duration-1: 1111ms;
  --ugly-duration-2: 420ms;
  --ugly-duration-3: 233ms;
  --ugly-duration-4: 1666ms;
  --ugly-duration-5: 777ms;
  --ugly-duration-6: 137ms;
}
